.txt-title-modal-ajouter-engagement-financier {
    color: #525156;
    font-family: Rubik-Regular !important;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.33px;
    line-height: 24px;
    margin-bottom: 22px;
}

.txt-header-list-eche {
    color: #202125;
    font-family: Rubik-Regular;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.23px;
    line-height: 17px;
}
.btn-modal-add-echeance {
    font-family: Rubik-Regular;
    color: #ffffff !important;
    background-color: #001941 !important;
    box-shadow: 0 0 4px 0 rgba(171, 169, 169, 0.09);
    height: 40px !important;
    min-width: 130px;
    margin-top: 20px !important;
}
.footer-modal-add-engagement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    .btn-modal-add-engagement {
        height: 50px !important;
        border-radius: 4px !important;
        background-color: #031c3e !important;
        border: 1px solid #031c3e !important;
        color: #ffffff;
        padding: 0px 20px !important;
        min-width: 120px;
    }
    .btn-modal-annuler-engagement {
        height: 50px !important;
        border-radius: 4px !important;
        background-color: #ffffff !important;
        border: 1px solid #f0f0f0 !important;
        color: #231f20 !important;
        margin: 0px 15px !important;
        padding: 0px 20px !important;
    }
}
