.position-ltr-icon-select {
    z-index: 0;
    margin: 0px 0px;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: white;
}

.position-rtl-icon-select {
    z-index: 0;
    margin: 0px 0px;
    position: absolute;
    left: 0;
    cursor: pointer;
    background-color: white;
}
.div-title-select {
    color: #202125;
    font-family: Rubik-Regular;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.23px;
    line-height: 17px;
    margin-bottom: 10px;
}
