.container-step9-conv-regionale-specifique {
    width: 100%;
    .txt-info-cv-confirmer {
        color: #1b1a1a;
        font-family: Rubik-Regular;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -0.33px;
        line-height: 24px;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .rectangle-pdf {
        box-sizing: border-box;
        height: 61px;
        border: 1px dashed #ebebeb;
        border-radius: 4px;
        background-color: #ffffff;
        width: 288px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        .container-left-side-pdf {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .container-icon-paper-pdf {
                height: 40px;
                width: 40px;
                border-radius: 4px;
                background-color: #f3f6f9;
                color: #3577f1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .txt-name-conv-pdf {
                color: #202125;
                font-family: Rubik-Regular;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.23px;
                line-height: 17px;
                margin: 0px 10px;
            }
        }
    }
    .card-info-step {
        box-sizing: border-box;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        background-color: #ffffff;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 32px 30px;
    }
    .btns-footer-step8 {
        display: flex;
        margin-top: 50px;
        .btn-next {
            font-family: Rubik-Regular;
            color: #ffffff;
            background-color: #031c3e;
            box-shadow: 0 0 4px 0 rgba(171, 169, 169, 0.09);
            height: 50px !important;
            min-width: 130px;
        }
        .btn-prev {
            font-family: Rubik-Regular;
            color: #031c3e;
            background-color: #ffffff;
            box-shadow: 0 0 4px 0 rgba(171, 169, 169, 0.09);
            height: 50px !important;
            min-width: 130px;
            border: 1px solid #e9e9e9;
        }
    }
    .sub-classname-container-box-icon-title-sub-title {
        align-items: center !important;
    }
    .item-obj {
        height: 50px;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .container-icon-target {
            height: 37px;
            width: 37px;
            border-radius: 4px;
            background-color: #edf8fe;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #3577f1;
            margin: 0px 8px;
        }
        .txt-obj-item {
            color: #000000;
            font-family: Rubik-Regular;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.23px;
            line-height: 17px;
        }
    }
    .txt-contribution-fin-mic-projets {
        color: #5b5e6e;
        font-family: Rubik-Regular;
        font-size: 13px;
        letter-spacing: -0.22px;
        line-height: 20px;
        white-space: initial;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .txt-remarques-observations-recap-step8 {
        color: #5b5e6e;
        font-family: Rubik-Regular;
        font-size: 13px;
        letter-spacing: -0.22px;
        line-height: 20px;
        white-space: initial;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}
