.container-step1-conv-regionale-avenant {
    width: 100%;
    .title-input {
        color: #202125;
        font-family: Rubik-Regular;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.23px;
        line-height: 17px;
        margin-bottom: 12px;
    }
    .div-txt-date-fin-effective {
        color: #d31a26;
        font-family: Rubik-Regular;
        font-size: 12px;
        font-style: italic;
        letter-spacing: -0.2px;
        line-height: 14px;
        white-space: initial;
        margin-top: 8px;
    }
}
