.div-title-dateTime-picker {
    color: #202125;
    font-family: Rubik-Regular;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.23px;
    line-height: 17px;
    margin-bottom: 10px;
}