.footerContainer {
    height: 50px;
    background-image: linear-gradient(#00205f, #121821);
    width: 100%;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Rubik-Regular;
    margin-top: 50px;
    .txtFooterStyleLtr {
        margin-left: 100px;
    }
    .txtFooterStyleRtl {
        margin-right: 100px;
    }
}
