.txt-title-modal-add-operation {
    color: #000000;
    font-family: ArbFONTS-Droid-Arabic-Kufi-Bold !important;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.27px;
    line-height: 31px;
    margin-bottom: 20px;
}
.btn-modal-add-operation {
    height: 50px !important;
    border-radius: 4px !important;
    background-color: #091451 !important;
    border: 1px solid #091451 !important;
    color: #ffffff !important;
    padding: 0px 20px !important;
    min-width: 120px;
    font-family: ArbFONTS-Droid-Arabic-Kufi-Bold !important;
}
