.txt-title-modal-add-unite-mesure {
    color: #000000;
    font-family: ArbFONTS-Droid-Arabic-Kufi-Bold !important;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.27px;
    line-height: 31px;
    margin-bottom: 20px;
}
.item-auto-complete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;
    font-family: ArbFONTS-Droid-Arabic-Kufi;
    cursor: pointer;
    font-size: 14px;
}
.footer-modal-add-unite-mesure {
}
.div-style-error-contreller {
    height: 20px;
    font-size: 11px;
    margin-top: 2px;
    color: red;
    padding: 0px 10px;
}
